* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000000;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 25px;
	text-align: justify;
}

img {
	border: 0;
}

a:link {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: underline;
}

a:visited {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: underline;
}

a:hover {
	color: #3600ff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
}

a:active {
	color: #3600ff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
}
	

#corpo {
	background-color: #fffd74;
	margin: auto;
	width: 786px;
	/*border: solid black 1px;*/
}

#head {
	position: relative;
	top: 15px;
	left: 15px;
}

#menu {
	position: relative;
	top: 25px;
	left: 9px;
}

#text {
	position: relative;
	top: 15px;
}	

#footer {
	padding: 10px 10px 10px 15px;
}